@model AnThanhLam.Web.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<link href="~/Assets/client/css/etalage.css" rel="stylesheet" />
@section footerJS{
    <script type="text/javascript" src="/Assets/client/js/jquery.flexisel.js"></script>
    <script src="/Assets/client/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
}

@section footerCSS{
    <style>
        .single_top {
            width: 100%;
            margin: 0 auto;
            max-width: 1200px;
        }
        .grid.images_3_of_2 {
            float: left;
        }
        .desc1 {
            float: left;
            padding-left: 20px;
        }
        .fl_title {
            margin-bottom: 20px;
        }

        .fl_title .breadcrumb_product {
            display: inline-block;           
        }

        .desc1 h1 {
            float: left;
            width: 100%;
            margin: 5px 0px;
            font-size: 1.8em;
            color: #ed0011;
            margin-bottom: 16px;
        }

        .m_3 {
            color: #ed0011;
        }
        .desc1 li {
            display: inline-block;
            list-style: none;
        }

        .desc1>h6{
            font-size: 16px;
        }
        h6 .size_color {
            color: blue;
        }

        share_nav li a {
            background: #a4f383;
        }
    </style>
}
<div class="pages_about">
    
</div>
<div class="single_top">
    <section>
        <div class="fl_title">
            <div listscope="" listtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb_product">
                <a href="/" listprop="url" title="An Thành Lâm">
                    <span listprop="title">Trang chủ</span>
                </a>
            </div>
            <code><i class="fa fa-caret-right"></i> </code>
            <div listscope="" listtype="http://data-vocabulary.org/Breadcrumb"  class="breadcrumb_product">
                <a href="/san-pham.html" listprop="url" title="An Thành Lâm">
                    <span listprop="title">Sản phẩm</span>
                </a>
            </div>
            @if (Model.ProductCategory != null)
            {
                <code><i class="fa fa-caret-right"></i> </code>
                <div listscope="" listtype="http://data-vocabulary.org/Breadcrumb"  class="breadcrumb_product">
                    <a href="#" listprop="url" title="@Model.ProductCategory.Name">
                        <span listprop="title">@Model.ProductCategory.Name</span>
                    </a>
                </div>
            }
            <code><i class="fa fa-caret-right"></i> </code>
            <div listscope="" listtype="http://data-vocabulary.org/Breadcrumb"  class="breadcrumb_product">
                <a href="javascript: void(0)" title="@Model.Name">
                    <span listprop="title">@Model.Name</span>
                </a>
            </div>
            <div class=" clearfix"></div>
        </div>
    </section>
    <div class="single_grid">
        <div class="grid images_3_of_2">

            <ul id="etalage">
                <li>
                    <a href="#">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                        <img class="etalage_source_image img-responsive" src="@Model.Image" title="" />
                    </a>
                </li>
                @{
                    var moreImages = (List<string>)ViewBag.MoreImages;
                    if (moreImages.Count > 0)
                    {
                        foreach (var image in moreImages)
                        {
                            <li>
                                <img class="etalage_thumb_image img-responsive" src="@image" />
                                <img class="etalage_source_image img-responsive" src="@image" title="" />
                            </li>
                        }
                    }
                }


            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">


            <h1>@Model.Name</h1>
            <h6>Kích cỡ: <span class="size_color"> @Model.Sizes</span> </h6>
            <div class="cart-b">
                <div class="left-n ">@(Model.Price.HasValue ? "Liên hệ" : Model.Price.Value.ToString("N0"))</div>
                <a class="now-get get-cart-in btnAddToCart" href="#" data-id="@Model.ID">Thêm vào giỏ hàng</a>
                <div class="clearfix"></div>
            </div>
            <h6>@Model.Quantity sản phẩm trong kho</h6>
            <p>@Model.Description</p>
            <div class="tag">
                <h5>Tag :</h5>
                <ul class="taglist">
                    @foreach (var tag in (IEnumerable<AnThanhLam.Web.Models.TagViewModel>)ViewBag.Tags)
                    {
                        <li><a href="/tag/@(tag.ID).html">@(tag.Name), </a></li>
                    }

                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="share">
                <h5>Chia sẻ :</h5>

                <ul class="share_nav">
                    <li><a href="#"><img src="/Assets/client/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="/Assets/client/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="/Assets/client/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="/Assets/client/images/gpluse.png" title="Google+"></a></li>
                </ul>

            </div>


        </div>
        <div class="clearfix"> </div>
    </div>
    @{
        var relatedProducts = (IEnumerable<AnThanhLam.Web.Models.ProductViewModel>)ViewBag.RelatedProducts;
    }
    <ul id="flexiselDemo1">
        @foreach (var product in relatedProducts)
        {
            <li><img src="@product.Image" /><div class="grid-flex"><a href="/@(product.Alias).p-@(product.ID).html">@product.Name</a><p>@product.Price</p></div></li>
        }
    </ul>


    <div class="toogle">
        <h3 class="m_3">Chi tiết sản phẩm</h3>
        <p class="m_text">@Html.Raw(Model.Content)</p>
    </div>
</div>